# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
.fvm/

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Android
android/.gradle/
android/local.properties
android/app/release/
android/captures/

# macOS / Windows
.DS_Store
Thumbs.db
